In [3]:
import pandas as pd

In [ ]:
# Data load
path = "../Dataset/"  # 파일 경로지정

road1 = pd.read_csv(path + "09._평균속도.csv")
road2 = pd.read_csv(path + "10._추정교통량.csv")
road3 = pd.read_csv(path + "11._혼잡빈도강도.csv")
road4 = pd.read_csv(path + "12._혼잡시간강도.csv")

In [30]:
# Data 타입 및 내용 확인
df_list = [road1, road2, road3, road4]

for df in df_list:
    print(f"\n===데이터 크기 확인===")
    print(f"데이터셋 크기:{df.shape}")
    print(f"열 개수: {df.shape[1]}")
    print(f"행 개수: {df.shape[0]}")
    print(f"중복 개수: {df.duplicated().sum()}")

    print("\n===타입 확인===")
    print(df.info())
    display(df.head(3))

===데이터 크기 확인===
데이터셋 크기:(926518, 12)
열 개수: 12
행 개수: 926518
중복 개수: 0

===타입 확인===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926518 entries, 0 to 926517
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   v_link_id      926518 non-null  int64
 1   road_rank      926518 non-null  int64
 2   k_length       926518 non-null  float64
 3   sido_id        926518 non-null  int64
 4   sigungu_id     926518 non-null  int64
 5   emd_id         926518 non-null  int64
 6   sido_name      926518 non-null  object
 7   sigungu_name   926518 non-null  object
 8   emd_name       926518 non-null  object
 9   timeslot       926518 non-null  int64
 10  velocity_AVRG  926518 non-null  float64
 11  probe          926518 non-null  int64
dtypes: float64(2), int64(7), object(3)
memory usage: 84.8+ MB
None

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,timeslot,velocity_AVRG,probe
0,57166862101,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,63.87,2725
1,57166862102,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,48.48,4926
2,57164847201,104,0.017,11000,11240,11240710,서울특별시,송파구,잠실본동,0,30.31,438

===데이터 크기 확인===
데이터셋 크기:(926518, 14)
열 개수: 14
행 개수: 926518
중복 개수: 0

===타입 확인===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926518 entries, 0 to 926517
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   v_link_id     926518 non-null  int64
 1   road_rank     926518 non-null  int64
 2   k_length      926518 non-null  float64
 3   sido_id       926518 non-null  int64
 4   sigungu_id    926518 non-null  int64
 5   emd_id        926518 non-null  int64
 6   sido_name     926518 non-null  object
 7   sigungu_name  926518 non-null  object
 8   emd_name      926518 non-null  object
 9   timeslot      926518 non-null  int64
 10  ALL_AADT      926518 non-null  int64
 11  PSCR_AADT     926518 non-null  int64
 12  BUS_AADT      926518 non-null  int64
 13  FGCR_AADT     926518 non-null  int64
dtypes: float64(1), int64(10), object(3)
memory usage: 99.0+ MB
None

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,timeslot,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,57166862101,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,331,236,5,89
1,57166862102,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,564,457,5,103
2,57164847201,104,0.017,11000,11240,11240710,서울특별시,송파구,잠실본동,0,158,137,2,19

===데이터 크기 확인===
데이터셋 크기:(39451, 10)
열 개수: 10
행 개수: 39451
중복 개수: 0

===타입 확인===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39451 entries, 0 to 39450
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   v_link_id     39451 non-null  int64
 1   road_rank     39451 non-null  int64
 2   k_length      39451 non-null  float64
 3   sido_id       39451 non-null  int64
 4   sigungu_id    39451 non-null  int64
 5   emd_id        39451 non-null  int64
 6   sido_name     39451 non-null  object
 7   sigungu_name  39451 non-null  object
 8   emd_name      39451 non-null  object
 9   FRIN_CG       39451 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 3.0+ MB
None

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,FRIN_CG
0,57155811401,102,0.088,31000,31021,31021660,경기도,성남시수정구,시흥동,57.05
1,57275538101,107,0.031,31000,31180,31180560,경기도,하남시,덕풍3동,28.93
2,57134792701,107,0.035,31000,31240,31240620,경기도,화성시,동탄3동,93.85

===데이터 크기 확인===
데이터셋 크기:(39451, 10)
열 개수: 10
행 개수: 39451
중복 개수: 0

===타입 확인===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39451 entries, 0 to 39450
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   v_link_id     39451 non-null  int64
 1   road_rank     39451 non-null  int64
 2   k_length      39451 non-null  float64
 3   sido_id       39451 non-null  int64
 4   sigungu_id    39451 non-null  int64
 5   emd_id        39451 non-null  int64
 6   sido_name     39451 non-null  object
 7   sigungu_name  39451 non-null  object
 8   emd_name      39451 non-null  object
 9   TI_CG         39451 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 3.0+ MB
None

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,TI_CG
0,47714279201,107,0.496,31000,31240,31240390,경기도,화성시,장안면,11.24
1,57134681402,107,0.073,31000,31240,31240610,경기도,화성시,동탄1동,91.27
2,57164853302,104,0.029,11000,11240,11240620,서울특별시,송파구,송파2동,92.66

In [32]:
for df in df_list:
    df.astype({"v_link_id": "category"})
    df.sort_values("v_link_id", ascending=False)
    display(df.head(3))

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,timeslot,velocity_AVRG,probe
0,57166862101,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,63.87,2725
1,57166862102,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,48.48,4926
2,57164847201,104,0.017,11000,11240,11240710,서울특별시,송파구,잠실본동,0,30.31,438

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,timeslot,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,57166862101,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,331,236,5,89
1,57166862102,104,1.320,11000,11240,11240820,서울특별시,송파구,위례동,0,564,457,5,103
2,57164847201,104,0.017,11000,11240,11240710,서울특별시,송파구,잠실본동,0,158,137,2,19

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,FRIN_CG
0,57155811401,102,0.088,31000,31021,31021660,경기도,성남시수정구,시흥동,57.05
1,57275538101,107,0.031,31000,31180,31180560,경기도,하남시,덕풍3동,28.93
2,57134792701,107,0.035,31000,31240,31240620,경기도,화성시,동탄3동,93.85

,v_link_id,road_rank,k_length,sido_id,sigungu_id,emd_id,sido_name,sigungu_name,emd_name,TI_CG
0,47714279201,107,0.496,31000,31240,31240390,경기도,화성시,장안면,11.24
1,57134681402,107,0.073,31000,31240,31240610,경기도,화성시,동탄1동,91.27
2,57164853302,104,0.029,11000,11240,11240620,서울특별시,송파구,송파2동,92.66

In [45]:
# 공통된 모든 컬럼을 리스트로 지정
common_cols = [
    "v_link_id",
    "road_rank",
    "k_length",
    "sido_id",
    "sigungu_id",
    "emd_id",
    "sido_name",
    "sigungu_name",
    "emd_name",
    "timeslot",
]

# 공통 컬럼들을 기준으로 병합
merged_df = pd.merge(road1, road2, on=common_cols, how="left")